name: Deploy

on:
  push:
    branches: [ master ]
  pull:
    branches: [*]
  repository_dispatch:
    types: [ on-deploy-branch ]

jobs:
  deploy-branch:
    name: Deploy branch
    runs-on: ubuntu-latest
    env:
      BEFORE_COMMIT: ${{ github.event.before }}
      AFTER_COMMIT: ${{ github.event.after }}
      SHA: ${{ github.event.commits.sha }}
    steps:
      - name: Configure job for push to master
        run: |
          echo "Shashank"
          echo $BEFORE_COMMIT
          echo $AFTER_COMMIT
          echo $SHA
          echo $GITHUB_SHA
          
