
on:
  pull_request:
    branches: [ '*' ]

jobs:
  lint-and-test:
    env:
      DEMAND_PLANNER_ENV: testing

    name: Lint and Test
    runs-on: ubuntu-latest
    
    steps:
      - name: echo values
        run: |
          echo ${{ github.event }}
          echo ${{ github.event.commit_id }}
          echo ${{ github.commit_id }}
          echo ${{ github.ref }}
          echo ${{ github.actor }} 
          echo ${{ github.sha }}
          echo ${{ github.event_name }}
